<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">Home</ion-item>
          <ion-item routerLink="/perfil">Perfil</ion-item>
          <ion-item routerLink="/producto">Producto</ion-item>
          <ion-item routerLink="/proveedor">Proveedor</ion-item>
          <ion-item routerLink="/registrar-producto">Registrar Producto</ion-item>
          <ion-item routerLink="/registrar-proveedor">Registrar Proveedor</ion-item>
          <ion-item routerLink="/login">Cerrar</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
